asgiref==3.6.0
certifi==2022.12.7
charset-normalizer==3.0.1
dj-database-url==0.5.0
dj-email-url==1.0.6
Django==4.1.5
django-cache-url==3.4.4
django-debug-toolbar==3.3.0
environs==9.3.0
idna==3.4
marshmallow==3.19.0
packaging==23.0
Pillow==9.4.0
python-dotenv==0.21.1
pytz==2022.7.1
requests==2.28.2
sqlparse==0.4.3
urllib3==1.26.14